.App {

}

  
@media (min-width: 360px) {
    .responsive__icon{
    font-size: 1.2rem; 
  }
}

@media (min-width: 640px) {
  .responsive__icon{
    font-size: 1.5rem; 
  }
}

.responsive__icon {
    font-size: 1.35rem; /* Default size */
}